.content-competiti1 {
    position: relative;
    width: 35em;
    height: 24em;
    border-radius: 9px;
    background: url('/public/image/contest1.png') no-repeat;
    background-size: contain;
    opacity: 0.7;
}

.content-competiti2 {
    position: relative;
    width: 15.3em;
    height: 25em;
    border-radius: 10px;
    background: url('/public/image/hackerton.png') no-repeat;
    background-size: contain;
}
.competiti-txt{
    position: absolute;
    bottom: 25.1em;
    right: 1em;
}