.content-competiti1 {
    position: relative;
    width: min(35em, 100%);
    aspect-ratio: 35 / 24;
    border-radius: 9px;
    background: url('/public/image/contest1.png') no-repeat;
    background-size: contain;
    opacity: 0.9;
}

.content-competiti2 {
    position: relative;
    width: min(15.3em, 100%);
    aspect-ratio: 15.3 / 25;
    border-radius: 10px;
    background: url('/public/image/hackerton.png') no-repeat;
    background-size: contain;
}

.competiti-txt{
    position: absolute;
    top: -1.8em;
    right: 1em;
}

h1{
    text-align: center;
}
