.content-competiti1 {
    position: relative;
    width: 35em;
    height: 37em;
    border-radius: 9px;
    background: url('/public/image/contest1.png') no-repeat;
    background-size: contain;
    opacity: 0.7;
}

.content-competiti2 {
    position: relative;
    width: 36em;
    height: 37em;
    border-radius: 10px;
    background: url('/public/image/flutter.png') no-repeat;
    background-size: contain;
}
.competiti-txt{
    position: absolute;
    bottom: 16.5em;
    right: 1em;
}