footer img {
    width: 28px;
    height: 27.5px;
    margin-bottom: 0.6%;
}

.social-icon-link {
    color: #000000;
    font-size: 28px;
}

footer {
    margin-top: auto;
    padding: 16px 8px 20px;
}
