header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-weight: bolder;
    gap: 20px 50px;
    padding: 0 16px;
    margin-bottom: 2%;
    margin-top: 2%;
}

#profile {
    width: clamp(120px, 20vw, 170px);
    height: auto;
    border-radius: 35px;
}

#title {
    font-size: clamp(26px, 5vw, 45px);
    font-weight: 600;
    line-height: 150%;
}

#keyWord {
    font-weight: 200;
}

#subTitle {
    font-size: 0.45em;
    font-weight: 400;
    color: #6c757d;
}

div>img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 1%;
}
