.content-item1 {
    position: relative;
    width: min(33em, 100%);
    aspect-ratio: 33 / 20;
    border-radius: 9px;
    background: url('/public/image/Project1.png') no-repeat;
    background-size: contain;
}

.content-item2 {
    position: relative;
    width: min(28.5em, 100%);
    aspect-ratio: 28.5 / 20;
    border-radius: 10px;
    background: url('/public/image/flutter.png') no-repeat;
    background-size: contain;
}

.content-text1 {
    position: absolute;
    top: -1.8em;
    right: 1em;
}

.content-text1:hover {
    color: blueviolet;
}

.content-text {
    position: absolute;
    top: -1.8em;
    right: 1em;
}

h1{
    text-align: center;
}
