.content-item1 {
    position: relative;
    width: 33em;
    height: 20em;
    border-radius: 9px;
    background: url('/public/image/Project1.png') no-repeat;
    background-size: contain;
}

.content-item2 {
    position: relative;
    width: 28.5em;
    height: 20em;
    border-radius: 10px;
    background: url('/public/image/flutter.png') no-repeat;
    background-size: contain;
}

.content-text1 {
    position: absolute;
    bottom: 20.6em;
    right: 1em;
}

.content-text1:hover {
    color: blueviolet;
}

.content-text {
    position: absolute;
    bottom: 20.6em;
    right: 1em;
}
